<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @to_do_category.name %>
</p>


<%= link_to 'Edit', edit_to_do_category_path(@to_do_category) %> |
<%= link_to 'Back', to_do_categories_path %>
